body section {
    flex-wrap: nowrap;
    justify-content: space-between;
}

body section nav {
    flex-basis: 23%;
    order: 1;
}

body section main {
    flex-basis: 50%;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
}

body section aside {
    flex-basis: 23%;
    order: 3;
    margin-left: 0;
    margin-top: 0;
}

header {
    padding: 20px 40px;
}

header nav {
    gap: 30px;
}