header {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    flex-basis: auto;
    margin: 0;
    order: 1;
}

header nav {
    flex-basis: auto;
    width: auto;
    flex-direction: row;
    gap: 15px;
    order: 2;
}

header button {
    width: auto;
    margin-top: 0;
    order: 3;
}

body section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

body section nav {
    flex-basis: 30%;
    order: 1;
}

body section main {
    flex-basis: 70%;
    order: 2;
    padding-left: 20px;
}

body section aside {
    flex-basis: 70%;
    order: 3;
    margin-left: 30%;
    margin-top: 20px;
    border-left: 20px solid transparent;
}

footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

footer section {
    flex-basis: 45%;
}