* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* medida fija/absoluta --> px */
    height: 100vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    /* altura/anchura relativa % */
    /* flex-basis: 5%; */
    height: 5vh; /* Altura fija/absoluta */
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;  
    align-items: center;
    color: rgb(24, 24, 24);
}

header i {
    background-color: bisque;
}

header #menu {
    flex-basis: 5%;
    background-color: rgb(240, 240, 240);
}

header #buscar {
    flex-basis: 30%;
    background-color: rgb(216, 216, 143);
}

header figure {
    flex-basis: 10%; /* de ancho */
    height: 100%;
}

header figure img {
    height: 100%; /* 70% altura del padre *//* NO SE PONE EN HTML */ /* TAMPOCO px PQ SE VERIA MAL SEGUN EL DISPLAY */ 
} 

header form {
    flex-basis: 20%; 
    height: 100%;
    display: flex;
    flex-direction: column; /* eje principal columna */
    justify-content: center; /* eje principal */
    align-items: center;
    
}

header form input {
    flex-basis: 50%; /* altura */
    width: 80%;
    border-radius: 30px;
    font-size: 20px;
    color: rgb(49, 55, 53);
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header nav {
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */

}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header nav a:hover {
    color: rgb(218, 253, 111)

}

header#carrito {
    /* border: 1px solid white; */
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row-reverse; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */

}

header#carrito i {
    font-size: 25px;
    color: green;

}

header#enlaces {
    background-color: rgb(153, 199, 184);
    flex-basis: 30%;
}

header#login {
    background-color: rgb(136, 111, 160);
    flex-basis: 20%;
}

main {
    flex-basis: 65%;
    background-color: azure;
}

footer {
    flex-basis: 30%;
    background-color: rgb(213, 194, 73);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer nav#sociales {
    background-color: rgb(200, 0, 0);
    flex-basis: 50%;

}

footer div#suscribete {
    background-color: rgb(179, 130, 66);
    flex-basis: 50%;

}

footer article {
    background-color: aquamarine;
    flex-basis: 33%;

}