* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .grid-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-container div {
    border: 1px solid rgb(139, 139, 139);
    padding: 20px;
    text-align: center;
} */

body {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 20vh 60vh 20vh;
}

header {
    border: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

nav {
    border: 1px solid black;
}

section {
    border: 1px solid black;
}

aside {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}