<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contacto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/contacto}">Contacto</a>
        <div class="dropdown">
            <a href="#">Ciclos</a>
            <div class="dropdown-content">
                <a th:href="@{/smr}">SMR</a>
                <a th:href="@{/asir}">ASIR</a>
                <a th:href="@{/daw}">DAW</a>
            </div>
        </div>
    </nav>
    <h1>Curriculum VITAE</h1>
</body>

</html>